header{
	background-color: #1B666B;
	color: white;
	padding-bottom: 50px;
	padding-top: 20px;
}
header h6{
	font-weight: 600;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: -50px;
}
header img{
	width: 300px;
}
.searchsize{
	padding-top: 40px;
	padding-right: 0px;
	margin-left: 100px;
	width: 40px;
}
.logo-size{
	
	width: 150px;
	margin-left: -50px;
	margin-right: 500px;
	margin-top: 30px;
}
#hero h1{
	font-weight: bold;
	font-size: 100px;
	color: white;
}
#hero{
	background-color: #1B666B;
	padding-bottom: 100px;
	padding-top: 50px;
}
.button {
  background-color: #FFA948;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 16px;
	font-weight: bold;
  margin: 50px 2px;
  cursor: pointer;
	border-radius: 40px;
}



footer {
    background-color: #fff;
    border-bottom: 25px solid #f7a74a;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    width: 66%;
}

.right-section {
    width: 33%; 
    display: flex;
    flex-direction: column;
}

.gray-text {
    color: #666;
}

.yellow-text {
    color: #f7a74a;
}

.contact-info h3 {
    margin-bottom: 10px;
}

.contact-text {
    margin-top: 10px;
    display: flex; 
    align-items: center;
}


.social-icons h3 {
    margin-bottom: 10px;
    align-self: flex-start; 
	
}

.icon {
    vertical-align: middle;
    margin-right: 5px;

}
#subscribe{
	background-color: #1b666b;
	padding: 3% 0 20%;

}
.titulo{
	text-align: center;
	color: #FFFFFF;
	font-size: 40px;
	margin-bottom: 20px
}
p{
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	
	
}
#subscribe{
	background-color: #1b666b;
	padding: 3% 0 20%;

}
.titulo{
	text-align: center;
	color: #FFFFFF;
	font-size: 40px;
	margin-bottom: 20px
}
p{
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	
	
}

.counter {
    padding: 120px; 
	
}

.counter h4{
	font-size: 36px;
	font-weight:500;
	color:#023E48;
	text-align: center;
	padding-bottom: 100px;
}
.counter h1{
	font-size: 60px;
	font-weight: bold;
	color:#023E48;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 100px;
}

.counter h3{
	font-size: 30px;
	font-weight:200;
	color:#666666;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 60px;
	
}
.cliente1 {
    background-color:#ffffff; 
    padding: 100px;
	text-align: center;
	border-radius: 25px;
	width: calc(33.333% - 5px); 
    margin-right: 5px;
	
}

.cliente2 {
    background-color: #ffffff;
    padding: 100px; 
	text-align: center;
	border-radius: 25px;
	width: calc(33.333% - 5px); 
    margin-right: 5px;
}

.cliente3 {
    background-color: #ffffff; 
    padding: 100px; 
	text-align: center;
	border-radius: 25px;
	width: calc(33.333% - 5px); 
    margin-right: 5px;
}
#elegirnos{
	text-align: center;
	margin: 50px;
	color: white;
	padding: 20px 0 0;
	background-color: #023E48;
	
	
}

#elegirnos img{
	background-color: #FFA948;
	width: 97px;
	height: 95px;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 30px;
	

	
}
#elegirnos article{
	background-color: white;
	color: #858585;
	border-radius: 10px;
	text-align: left;
	padding: 100px 50px 100px 30px;	
	

}
.row{
	display: flex;
    justify-content: space-between;
	

}
